#container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 20px;
    width: 100%;
    border-radius: 5px;
}

#quote-box {
    padding: 20px 40px;
    background-color: #fff;
    border-radius: 5px;
}

.container-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}