* {
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Exo|Neucha|Overlock&display=swap');


body {
	background-color: #333;
    background-image: url(https://res.cloudinary.com/drpcjt13x/image/upload/v1579002769/Proyectos/Random%20Quote%20Machine/iStock-939184094_aq2vlv.jpg);
    background-repeat: no-repeat;
	background-size: cover;
    display: flex;
	justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}
